input {
    --input-background: #09041e;
    --input-color: #fff;
    --input-shadow: rgba(33, 4, 104, 0.2);
    --input-shine-left: rgba(120, 0, 245, 0.5);
    --input-shine-right: rgba(200, 148, 255, 0.65);
    --input-glow-start: #b000e8;
    --input-glow-end: #009ffd;
    
    text-align: center;
    width: 132px;
    height: 40px;
    display: flex;
    appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    border-radius: 11px;
    position: relative;
    line-height: 24px;
    cursor: pointer;
    color: var(--input-color);
    padding: 0;
    margin: 10px;
    background: none;
    z-index: 1;
    box-shadow: 0 8px 20px var(--input-shadow);
  }
  
  ::placeholder{
    text-align: center;
    width: 132px;
  }
  