html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
      box-sizing: inherit;
  }
}

body {
  max-width: 1000px;
  max-height: 100vh;
  margin: 0 auto 0 auto;
  font-family: "papyrus";
  background-color: rgb(27, 26, 26);
  color: aliceblue;
}

.navButton{
  padding: 4px 8px;
  margin: 5px;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  overflow: auto;
}

#statuscode{
  text-align: center;
  color: red;
  position: relative;
}